* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.multi-step-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    /* For troubleshooting */
}

.form-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    /* background-color: lightblue; */
    /* For troubleshooting */
    gap: 0;
}


.question-container,
.answer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.question-container {
    background-color: #0018A4;
    color: white;
    position: absolute;
    top: 0;
    right: 50%;
    left: 0;
    bottom: 0;
}

.question-container h1 {
    width: 23px;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
}

.question-container p {
    font-size: 30px;
    width: 500px;
    font-weight: 400;
    line-height: 45px;
}

.answer-container {
    background-color: white;
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
}

.answer-container-dropdown select {
    width: 350px;
    padding: 11px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.answer-container-dropdown {
    position: relative;
}

.answer-container-dropdown::after {
    position: absolute;
    width: 300px;
    top: 50%;
    right: 10px;
    transform: translateY(-100px);
    font-size: 16px;
}

.answer-container-dropdown option {
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 16px;

}

.answer-container input {
    width: 350px;
    height: 45px;
    top: 460px;
    left: 840px;
    border-radius: 6px;
    border: 1px solid #000000;
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    gap: 10px;
}

.answer-container input::placeholder {
    color: #9C9C9C;
}

.radio-label {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 300px;
    height: 60px;
    padding: 10px;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #9C9C9C;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    cursor: pointer;
}

.radio-label input[type="radio"] {
    opacity: 0; /* Hide radio button */
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Styling for radiobutton when selected */
.radio-label input[type="radio"]:checked + span {
    background-color: #9c9c9c;
    color: white;
    border: 1px solid #0018A4;
}

.answer-container button {
    width: 132px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 100vw;
    background-color: white;
    position: absolute;
    bottom: 0;
}

.button {
    min-height: 44px;
    min-width: 44px;
}

.submitted-form-container {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    font-weight: bold;
}

.submitted-form-container button {
    width: 200px;
    padding: 10px;
    margin-top: 30px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.submitted-form-container button:hover {
    background-color: #0018A4;
    color: white;
    border-color: #0018A4;
}