/* ========== Global styling ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* ========== Multistep form styling ========== */
.multi-step-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0018A4;
}

.form-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    gap: 0;
}

/* ========== Question and Answeer containers layout ========== */

.question-container,
.answer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.question-container {
    background-color: #0018A4;
    color: white;
    position: absolute;
    top: 0;
    right: 50%;
    left: 0;
    bottom: 0;
}

.question-container h1 {
    width: 23px;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
}

.question-container p {
    font-size: 30px;
    width: 500px;
    font-weight: 400;
    line-height: 45px;
}

.answer-container {
    background-color: white;
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
}

/* ========== Dropdown select layout ========== */

.answer-container-dropdown select {
    width: 350px;
    padding: 11px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.answer-container-dropdown {
    position: relative;
}

.answer-container-dropdown::after {
    position: absolute;
    width: 300px;
    top: 50%;
    right: 10px;
    transform: translateY(-100px);
    font-size: 16px;
}

.answer-container-dropdown option {
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 16px;

}

/* ========== Input text layout ========== */

.answer-container input {
    width: 350px;
    height: 45px;
    top: 460px;
    left: 840px;
    border-radius: 6px;
    border: 1px solid #000000;
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    gap: 10px;
}

.answer-container input::placeholder {
    color: #9C9C9C;
}

/* ========== Radio buttons layout ========== */

.radio-label {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 300px;
    height: 60px;
    padding: 10px;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #9C9C9C;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    cursor: pointer;
    position: relative;
    transition: background-color 0.1s ease, color 0.1s ease;
    color: #000000;
}

.radio-label input[type="radio"] {
    display: none;
    /* Hide radio button */
}

/* Styling for radiobutton when selected */
.radio-label input[type="radio"]:checked+span {
    font-size: 22px;
    font-weight: bold;
    color: #0018A4;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* ========== Button container layout ========== */

.button-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 100vw;
    background-color: white;
    position: absolute;
    bottom: 0;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #0018A4;
    width: 172px;
    height: 60px;
    border: none;
    border-radius: 6px;
    top: 10px;
    right: 20px;
    bottom: 10px;
    left: 20px;
    gap: 10px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #0018A4;
}

/* ========== Submitted form layout ========== */

.submitted-form-container {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    font-weight: bold;
}

.question,
.thanks,
.summary {
    color: white;
    margin: 0;
}

.answer {
    font-weight: 100;
    color: white;
    margin-left: 5px;
}

.submitted-form-container button {
    width: 200px;
    min-width: 44px;
    min-height: 44px;
    padding: 10px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: #C2C2C2;
    color: #0018A4;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.submitted-form-container button:hover {
    background-color: white;
    color: #0018A4;
    border-color: #0018A4;
}

p {
    padding-left: 20px;
}

/* ========== Responsive layout ========== */

/* MOBILE */
@media (max-width: 500px) {
    .question-container h1 {
        text-align: center;
        font-size: 24px;
        line-height: 36px;
        width: 300px;
    }

    .question-container p {
        text-align: center;
        font-size: 18px;
        line-height: 27px;
        width: 300px;
        padding: 0;
    }

    .question-container,
    .answer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        padding: 20px;
        margin: 0;
    }

    .question-container {
        background-color: #0018A4;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 60%;
    }

    .answer-container {
        color: white;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 40%;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .back-button {
        display: none;
    }

    .radio-label {
        justify-content: center;
    }

    .answer-container-dropdown select {
        width: 300px;
    }

    .answer-container input {
        width: 300px;
    }
}