* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.multi-step-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightgreen; /* For troubleshooting */
}

.form-container {
    display: flex; 
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: lightblue; /* For troubleshooting */
    gap: 0; 
}

 
.question-container,
.answer-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    margin: 0;
}

.question-container {
    background-color: #0018A4;
    color: white;
    position: absolute;
    top: 0;
    right: 50%;
    left: 0;
    bottom: 0;
}
.question-container h1 {
    width: 23px;
    height:60px;
    font-size: 40px;
    line-height: 60px;
}

.question-container p {
    font-size: 30px;
    width: 500px;
    font-weight: 400;
    line-height: 45px;
}
.answer-container {
    background-color: white;
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
}
.answer-container input {
    width: fixed 500px;
    height: fixed 10px;
    top: 460px;
    left: 840px;
    border-radius: 6px;
    border: 1px solid #000000;
    font-size: 20px;
    line-height: 30px;
    color: #9C9C9C;
}

.answer-container button {
    width: 132px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.answer-container button:hover {
    background-color: #bbb; /* Förbättrad hover-effekt */
}

.button-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 100vw;
    background-color: white;
    position: absolute;
    bottom: 0;
}
.button {
    min-height: 44px;
    min-width: 44px;
}

